.conteiner{
    padding: 7px;
    background-color: aquamarine;
    border: 3px solid rgb(255, 186, 12);
    width: 600px;
    height: auto;    
    display: flex;
    /*  Estilos flexbox direction  */
    /* flex-direction: row; este es el valor por defecto*/
    /* flex-direction: row-reverse; este alinea a la esquierda en reversa*/
    /* flex-direction: column; para direcionar de arriba hacia bajo*/
    /* flex-direction: column-reverse; */

    /*  el uso de  flex wrap  */
    /* flex-wrap: wrap; para quedra de linea*/
    /* flex-wrap: wrap-reverse; esto es para cambiar el orden para vercion inversa */
    
    /*   Metodo justify  */ 
    /* justify-content: center; */
    /* justify-content: flex-start; lo alinea a la esquierda*/
    /* justify-content: flex-end; lo alinea a la derecha*/
    /* justify-content: space-between; el alinea espacio entre los ellos*/
    justify-content: space-around;




}

.item1 {
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(236, 230, 176);
    border: 1px solid white;
    /*  estilos flex   */
}

.item2 {
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(233, 164, 212);
    border: 1px solid white;
    /*  estilos flex   */
}

.item3 {
    text-align: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(166, 143, 219);
    border: 1px solid white;
    /*  estilos flex   */
}

.item4 {
    text-align: center;
    font-weight: bold;
    color: rgb(11, 9, 8);
    background-color: rgb(132, 167, 222);
    border: 1px solid white;
    /*  estilos flex   */
}