.conteiner{
    background-color: aquamarine;
    border: 1px solid rgb(145, 7, 7);
    width: 700px;
    height: 80px;
    /*  estilos flex   */
    display: flex;
    /* flex-direction: row; este es el valor por defecto*/
    /* flex-direction: row-reverse; este alinea a la esquierda en reversa*/
    /* flex-direction: column; para direcionar de arriba hacia bajo*/
    flex-direction: column-reverse;


}

.item1 {
    text-align: center;
    font-weight: bold;
    color: sandybrown;
    background-color: rgb(13, 78, 78);
    border: 1px solid white;
    /*  estilos flex   */
}

.item2 {
    text-align: center;
    font-weight: bold;
    color: rgb(180, 157, 137);
    background-color: rgb(13, 78, 78);
    border: 1px solid white;
    /*  estilos flex   */
}

.item3 {
    text-align: center;
    font-weight: bold;
    color: rgb(154, 72, 0);
    background-color: rgb(13, 78, 78);
    border: 1px solid white;
    /*  estilos flex   */
}

.item4 {
    text-align: center;
    font-weight: bold;
    color: rgb(255, 119, 0);
    background-color: rgb(13, 78, 78);
    border: 1px solid white;
    /*  estilos flex   */
}